{% extends "base.html" %}
{% load aux_tags %}
{% block titulo %}{{ evento.nome }} de {{ ambiente.nome }} - Penalty{% endblock titulo %}

{% block conteudo %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
		    <nav class="nav-sidebar">
		    	<ul class="nav">
		            <li><a href="{% url 'ambiente:ambiente' ambiente.pk %}">Geral</a></li>
		            <li class="nav-divider"></li>
		            <li><a href="{% url 'ambiente:proximos_eventos' ambiente.pk %}">Próximos eventos</a></li>
		            <li><a href="{% url 'ambiente:eventos_passados' ambiente.pk %}">Eventos passados</a></li>
		            <li><a href="{% url 'ambiente:eventos_multados' ambiente.pk %}">Multas</a></li>
		            <li class="nav-divider"></li>
		            <li class="active"><a href="{% url 'ambiente:eventos' ambiente.pk %}">Gerenciar eventos</a></li>
		            <li><a href="{% url 'ambiente:participantes' ambiente.pk %}">Gerenciar participantes</a></li>
		            <li class="nav-divider"></li>
		            <li><a href="{% url 'ambiente:estatisticas' ambiente.pk %}">Estatísticas</a></li>
		            <li><a href="{% url 'ambiente:sobre' ambiente.pk %}">Sobre o ambiente</a></li>
		        </ul>
		    </nav>
		</div>
	
	<div class="col-sm-9">
		<ol class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="{% url 'ambiente:ambiente' ambiente.pk %}">{{ ambiente.nome }}</a></li>
		  <li><a href="{% url 'ambiente:eventos' ambiente.pk %}">Eventos</a></li>
		  <li class="active">{{ evento.nome }}</li>
		</ol>
		<h3>{{ evento.nome }} - Gerenciar eventos:</h3>
		<hr>
		<div class="panel panel-default">
		  {% if evento.intervalo == "D" %}
	  	  	<div class="panel-body dias">
	  	  {% elif evento.intervalo == "S" %}
	  	  	<div class="panel-body semanas">
	  	  {% else %}
	  	    <div class="panel-body meses">
	  	  {% endif %}
		  <p>Detalhes do evento - <a href="{% url 'ambiente:editar_evento' ambiente.pk evento.id_agrupador %}">Editar evento</a> - 
		  	<a href="#" data-toggle="modal" data-target="#modalDeletar">Deletar evento</a></p>
			<div class="modal fade" id="modalDeletar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="exampleModalLabel">Confirmar exclusão de participação de {{ participante.first_name }}</h4>
			      </div>
			      <div class="modal-body">
			      	<p>Ao confirmar esta ação, você excluirá todas as repetições deste evento. Deseja continuar?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			        <button type="button" onclick="delete_event({{ ambiente.pk }}, {{ evento.id_agrupador }});" class="btn btn-danger">Excluir {{ evento.nome }} do ambiente</button>
			      </div>
			    </div>
			  </div>
			</div>
		  <hr>
		  	<ul>
		  		<li><b>Descrição do evento:</b> {{ evento.descricao }}</li>
		  		<li><b>Tarefa atribuída para:</b> {{ evento.responsavel.first_name }}</li>
		  		<li><b>Duração do evento:</b> De {{ evento.data_inicio }} até {{ evento.data_fim }}</li>
		  		<li><b>Primeiro dia do evento:</b> {{ evento.dia_evento }} ({{ evento.dia_evento| date:"l" }})</li>
		  		<li><b>Repetição:</b> De {{ evento.quantidade_intervalos_repeticao }} em {{ evento.quantidade_intervalos_repeticao }} {{ evento.intervalo|typedata }}</li>
		  		<li><b>Valor da multa:</b> R$ {{ evento.valor_multa }}</li><br>
		  		<li><b>Criador do evento:</b> {{ evento.criador.first_name }}</li>
		  	</ul>
		  	<br><br>
		  	<h4>Histórico:</h4>
		  	<hr>
		  	{% for evt in historico %}
		  		<a href="{% url 'ambiente:tarefa' ambiente.pk evt.pk %}">{{ evt.dia_evento }} - {{ evt.nome }} (atribuida para {{ evt.responsavel.first_name }})</a><br>
		  	{% empty %}
		  		<p>Ainda não houve nenhuma tarefa para este tipo de evento.</p>
		  	{% endfor %}
		  	<nav aria-label="Page navigation">
			  <ul class="pager">
			    {% if historico.has_previous %}
			    	<li class="previous"><a href="?page={{ historico.previous_page_number }}"><span aria-hidden="true">&larr;</span> Página anterior</a></li>
		        {% endif %}
			    Página {{ historico.number }} de {{ historico.paginator.num_pages }}.
			    {% if historico.has_next %}
			    	<li class="next"><a href="?page={{ historico.next_page_number }}">Próxima página <span aria-hidden="true">&rarr;</span></a></li>
		        {% endif %}
			  </ul>
			</nav>
		  </div>

		   </div>
		  </div>
	  </div>
	</div>
</div>
	
{% endblock conteudo %}